.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userPhotoBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userPhoto {
  width: 100px;
  border-radius: 50%;
}

.errorStyle {
  height: 20px;
  color: red;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
