.wrapper {
  width: 900px;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
}
.container {
  width: 100%;
  border: 3px solid #b5c3fa;
  display: flex;
  flex-direction: row;
}
.profile {
  width: 35%;
}
.chats {
  width: 65%;
}
