

.wrapper {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userPhoto {
  width: 100px;
  /* border-radius: 50% */
}


.profileInfo {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.userName {
  font-size: larger;
}