.wrapper {
  width: 300px;
  min-height: 70px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
 
}

.text {
  text-align: center;
}
